/*
  If you're loading a font from a service like Google Fonts,
  make sure to put the @import at the very top of your CSS file.

  https://tailwindcss.com/docs/font-family
*/
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

/*
  Theme Variables
  
  https://tailwindcss.com/docs/theme
*/
@theme {
  /* Colors: resetting and adding only custom ones */
  --color-*: initial;
  --color-black: #000807;
  --color-white: #ffffff;
  --color-green: #3aa699;
  --color-pear: #dbea60;

  /* Typography: extending */
  --font-newsreader: 'Newsreader', serif;
  --font-urbanist: 'Urbanist', sans-serif;

  /* Breakpoints: extending */
  --breakpoint-3xl: 120rem; /* 1920px */
}

/*
  Using the inline option,
  the utility class will use the theme variable value instead of referencing the actual theme variable.
  
  Without using inline,
  your utility classes might resolve to unexpected values because of how variables are resolved in CSS.

  https://tailwindcss.com/docs/theme#referencing-other-variables
*/
@theme inline {
  --color-primary: var(--color-green);
  --color-secondary: var(--color-pear);

  --font-serif: var(--font-newsreader);
  --font-sans: var(--font-urbanist);
}
